.main-SecondClass{

    color: rgb(74, 74, 161);
    max-width: 500px;
    padding: 10px 0;
    margin: 50px;
    h1, h3{
        padding-bottom: 10px;
    }
    li{
        padding-bottom: 5px;
    }
    .ulIntegrantes{
        list-style: none;
    }
}