*{
    font-size: 1.5
}

input, button {

    color: black;
}

.lightTheme {

    background-color: rgb(118, 165, 236);

}

.thirteenth-class-component-contador{
    
    display: flex;
    flex-direction: column;
    width: calc(100% - 10rem);
    margin: 5rem;
    border: solid 1px white;
    font-size: 2rem;
    align-items: center;

    label, input, p , small{
        margin: 2rem;
    }

    small{
        color: red;
    }
    button{
        width: 15rem;
        align-self: flex-end;
        margin-top: 1rem;
    }
}

form {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    width: 100%;
    height: auto;
    
    label, input, p , small{
        margin: 2rem;
    }

    small{
        color: red;
    }
    button{
        width: 15rem;
        align-self: flex-end;
        margin-top: 1rem;
    }
}

button {

    color: white;
    border-radius: 0.8rem;
    background-color: aqua;
    padding: 4px;
    margin: 2rem;
    color: black;
    
}