.setima-aula-component-contador {
        
    width: 100%;
    max-width: 40rem;
    margin: 50px auto;
    font-size: 1.5rem;

    .lightTheme {

        background-color: rgb(118, 165, 236);
        
        border: solid 1px black;
       }

    h1 {

        margin: 3rem 0rem 1rem 3rem;
    
    }
    
    button {
        
        padding: 4px;
        margin: 3rem;
        color: black;
    
    }
}


