.lightTheme {

    background-color: rgb(118, 165, 236);

}

.setima-aula-component-contador{
        
    width: 100%;
    max-width: 40rem;
    margin: 50px auto;
    margin-left: 7rem;
    border: solid 1px white;
    font-size: 1.5rem;
}

h1 {

    margin: 3rem 0rem 1rem 3rem;

}

button {

    color: white;
    
    padding: 4px;
    margin: 3rem;
    color: black;

}
