.games-section-vertical-item-component {

    background-color: var(--secondary);
    height: 16.7rem;
    display: flex;
    border-radius: 1.2rem;
    overflow: hidden;

    &.item-card {

        width: 30rem;

    }

    .game-picture {

        width: 29.2rem;
        object-fit: cover;

    }

    .infos {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2.4rem;

        .name {

            font-size: 2.4rem;

        }

        .plataforms {



        }

        .categories {

            a {



            }

        }

    }

}