.header {
    position: absolute;
    width: 172rem;
    height: 12rem;
    left: 0rem;
    
    
    background: #202020;

    .header-h1{
        position: absolute;
        width: 16.1rem;
        height: 4.8rem;
        left: 29.1rem;
        top: 3.6rem;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 4.8rem;

        
    }

    .header-navbar-logo-detalhe{
        color: var(--terciary);
    }

    a {
        text-decoration: none;
        color: var(--text-color3);
    }
    
    .header-ul{
        top: 4.5rem;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
        /* identical to box height */
        text-align: right;
        list-style: none;
        /* identical to box height */
        text-align: right;

    }
    
    .header-a-store{
        
        position: absolute;
        width: 6.1rem;
        height: 3rem;
        left: 94.3rem;
        top: 4.5rem;
        color: var(--terciary);
       
    }

    .library{
        /* LIBRARY */

        position: absolute;
        width: 7.6rem;
        height: 3rem;
        left: 102.8rem;
        top: 4.5rem;

    }
    
    .community{
        position: absolute;
        width: 12.1rem;
        height: 3rem;
        left: 112.8rem;
        top: 4.5rem;

    }
 
    .about{
        position: absolute;
        width: 6.6rem;
        height: 3rem;
        left: 127.3rem;
        top: 4.5rem;

       
    }
    .profile{
        position: absolute;
        width: 74px;
        height: 30px;
        left: 1363px;
        top: 45px;


    }
    




}