*{
    font-size: 2rem;
}

main {

    margin: 5rem;

    fieldset {

        border-radius: 2rem;
        padding: 3rem;

        legend{

            padding: 0.5rem;
        }
    }

    span{
        margin: 2rem 0rem  0rem 5rem;
    }

    .pedidos{

        margin: 2rem 0rem 1rem 8rem;
    }

    .form-error{

        padding-top: 1rem;
        color: red;

        fieldset {

            background: #221515; 
            border: 1px solid #FF7070;
            border-radius: 2rem;
            margin: 1rem;
        }

        
    }

}