.main-layout-component {
    // background-color: linear-gradient(to top, #290923, #57134A, #8C1F78, #9F20BA, #6F1EB0, #271D99,#331963);
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    'header header'
    'aside  main';
    gap: 12px;

    font-size: 2rem; 
    
    min-width: 782px;

    .has-shown{
        animation: has-shown 2s ease-in-out 1 normal forwards;
        
        
    
    }

    // Estilização para o Modo Dark
    &.dark {
        
        animation: gradient 10s ease infinite; 
        background: linear-gradient(-45deg, #290923, #57134A, #8C1F78, #9F20BA, #6F1EB0, #271D99,#331963, #3A1A70, #1E0D3B);
        background-size: 300%;
    
        content: "";
        // pointer-events: none;
        // width: 100%;
        // background-attachment: fixed;
        
        // height: 100%;


        .main-layout-component-header {
            
            color: white;
            
            
        }

        .main-layout-component-aside {

            
            color: white;

            a {

                color: white;

            }
            
        }

        .main-layout-component-main {

            color: white;

            .setima-aula-component-contador, 
            .thirteenth-class-component-contador{
                border: solid 1px white;
            }

        }

    }

    // Estilização para o Modo Light
    &.light {

        animation: gradient 10s ease infinite; 
        background: linear-gradient(-45deg,#EC90DE, #FFCDD9, #B0D6E9, #35D2FA);
        background-size: 300%;

        .main-layout-component-header {
            
            color: black;
            border-color:  black;

        }

        .main-layout-component-aside {

            color: black;
            border-color:  black;

            a {

                color: black;

            }
 
        }

        .main-layout-component-main {
        
            color: black;
            border-color:  black;

            .instagram-time-line-component{
                
                .post{

                    color: white;
                }
            }

            .setima-aula-component-contador, .thirteenth-class-component-contador{
                border: solid 1px black;
            }

        }

    }

    &.hight-contrast {

        background-color: black;

        .main-layout-component-header {
            
            color: white;
            
            
        }

        .main-layout-component-aside {

            color: white;

            a {

                color: white;

            }
            
        }

        .main-layout-component-main {

            color: white;

            .setima-aula-component-contador, 
            .thirteenth-class-component-contador{
                border: solid 1px white;
            }

        }

    }

    &.big-text{

        font-size: xx-large;
    }

    .main-layout-component-header {

        padding: 42px;
        grid-area: header;
        border-bottom-style: solid;
        border-width: 1px; 
        border-color:  whitesmoke; 

        .title {
            font-size: 5rem;
        
        }
        
        color: white;
        .ul-aulas {
            color: white;
        }
    }

    .main-layout-component-aside {

        grid-area: aside;
        margin-left: 12px;
        padding: 42px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        border-radius: 12px;
        margin-bottom: 12px;

        border-style: solid;
        border-width: 1px; 
        border-color:  whitesmoke;

        h1 {
            font-size: 32px;
        }

        ul {

            list-style: none;
            padding: 0;

            a {

                text-decoration: none;
                opacity: .8;

            }

            a:hover {
                text-decoration-line: underline;
                // font-style: oblique;
            }

            a:focus{
                opacity: 1;
                
            }

        }

    }

    .main-layout-component-main {

        min-height: calc(100vh - 132px - 24px);
        padding: 42px ;
        grid-area: main;
        border-radius: 12px;
        margin-right: 12px;
        margin-bottom: 12px;
        margin-top: 0;
        margin-left: 0;

        

        border-style: solid;
        border-width: 1px; 
        border-color:  whitesmoke;

    }

    
}

@keyframes has-shown{
    from {
        opacity: 0;
        transform: translateY(5rem);
    }

    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

