@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary: #000000;
    --secondary: #202020;
    --terciary: #FF7A00;
    // --text-color0: #FFFFFF;
    --text-color1: rgba(0, 0, 0, 0.25)
    --text-color2: hsl(0, 0%, 20%);
    --text-color3: rgba(255, 255, 255, 0.6);
    --text-color4: rgba(255, 255, 255, 0.8);
    --text-color5: rgba(255, 255, 255, 0.2);

    --error: #FF3838;
    font-size: 62.5%;
}



.dh-games-component {
    width: 100%;
    margin: 32px auto;
    background-color: var(--primary);
    // position: absolute;

    .dh-games-main-content {

        width: 100%;
        max-width: 120rem;
        margin: 0 auto;

        

        .games-section {

            font-size: 3.6rem;
            

            .games-section-title {

                margin: 5rem 0 2.4rem 0;
                color: var(--text-color4);

                // text-shadow: 0rem 0.4rem 0.4rem var(--primary);
         
            }

            .games {

                display: flex;
                flex-direction: column;
                gap: 2.4rem;

            }

        }

        .games-section-horizontal{
            
            font-size: 3.6rem;
            position: relative;
            display: flex;
            flex-flow: row wrap;
            

            .games-section-title {

                margin: 5rem 0 2.4rem 0;
                color: var(--text-color4);

                // text-shadow: 0rem 0.4rem 0.4rem var(--primary);
         
            }

            .games {

                display: flex;
                flex-flow: row wrap;
                gap: 2.4rem;

            }


        }

    }

}