.setima-aula-component-table {

    
    width: 100%;
    max-width: 1200px;
    font-size: 1.5rem;
    margin: 0 auto;
    

    &>h1 {

        margin-bottom: 32px;

    }
    
    button {
        color: black;
        font-size: 16px;
        background-color: aqua;
        padding: 12px 24px;
        border: none;
        transition: .2s ease-in-out;
        width: auto;
        // padding: 1rem;
        border-radius: 0.7rem;

        &:hover {
            background-color: rgb(40, 133, 133);
            filter: brightness(120%);
            cursor: pointer;

        }

    }

    .form-error {

        background-color: rgba(80, 34, 34, 0.685);

    }

    form {

        font-size: 2rem;
        input {

            color: black;
            margin: 1rem;
        }

        label {
            margin: 1rem;
        }

    }

    .tittle-wrapper {

        display: flex;
        justify-content: space-between;
        margin-bottom: 42px;

    }

    .products {

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 42px;
        margin-top: 3rem;

    }

    
}