@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.login {
    background-image: url(../../assets/images/star12.png);
    margin:  -42px -42px -55px -42px;
    height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    border-radius: 12px;

    align-items: center;
    justify-content: center;
    

    display: flex;
    
     
    .text{
        text-align: center;
        font-size: 4rem;
        
    }

    .text-title{
        font-size: 10rem;
        text-align: center;
        font-family: 'Handlee', cursive;
    }

    

}

@keyframes is-panning {
    to {
        transform: translateX(-5rem);
    }
}

@keyframes has-shown{
    from {
        opacity: 0;
        transform: translateY(5rem);
    }

    to{
        opacity: 1;
        transform: none;
    }

    
}

.has-shown{
    animation: has-shown 2s ease-in-out 1 normal forwards;
    
    

}
