.main-ThirdClass{

    max-width: 500px;
    padding: 10px 0;
    margin: 50px;
    h1{
        padding-bottom: 10px;
    }
    li{
        padding-bottom: 5px;
    }
    .ulComponent{
        list-style: none;
    }
}