.fourth-class-component{

    &.dark {
        li {

            border: solid 1px white;
            background: rgb(40, 24, 109);
            border-radius: 12px;
        }
    }

    &.light {
        li {

            border: solid 1px black;
            background: white;
            border-radius: 12px;
            
        }
    }

    &.hight-contrast {

        li {
            border-radius: 12px;
            border: solid 1px white;
        }
    }

    .main-title {

        font-size: 32px;
        text-align: center;

    }

    .components-finded {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        li {

            width: 424px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            // background-color: rgb(74, 74, 161);;
            padding: 12px;
            

            img {

                width: 400px;
                border-radius: 12px;

            }


        }

    }

}
    
